@import url("font.css");

body {
  font-family: "Quicksand";
  padding: 0px;
  margin: 0px;
}

.content {
  background-color: white;
}

.contact_title{
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

.contact_title p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

.contact_title h1{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 30px;
}

.contact_detail{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blocks_contact_detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact_description{
    position: relative;
    width: 250px;
    height: 250px;
    padding: 20px;
    margin-bottom: 60px;
}

.contact_description img{
    width: 190px;
    margin-left: 10%;
}

.contact_description h2{
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
}

.contact_description p{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}