* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url("../assets/background.png");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
}